.grid-wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-areas: 
        "Header        Header       NavBar" 
        "Content       Content2     NavBar"
        "Content       Content2     NavBar"
        "Content       Content2     NavBar"
        "Footer        Footer       Footer";

}
.Header{
    grid-area: Header;
    background-color: rgb(216, 216, 216);
    display: block;
    margin: 2vh;
    padding: 8px;
    border: 8px;
    border-radius: 1px
}

.Content{
    grid-area: Content;
    background-color:rgb(216, 216, 216);
    display: block;
    margin: 2vh;
    padding: 10px;
    border: 8px;
    border-radius: 2px;
}

.Content2{
    grid-area: Content2;
    background-color:rgb(216, 216, 216);
    display: block;
    margin: 2vh;
    padding: 10px;
    border: 8px;
    border-radius: 2px;
}

.Footer{
    grid-area: Footer;
    background-color: rgb(216, 216, 216);
    display: block;
    margin: 2vh;
    padding: 10px;
    border-radius: 1px;
    
}

.NavBar{
    grid-area: NavBar;
    background-color: rgb(216, 216,216);
    display: block;
    justify-content: right;
    margin: 2vh;
    border: 8px;
    border-radius: 2px;
    padding: 6px
}